<div class="container py-5">

  <div class="d-flex justify-content-between align-items-center">
    <h2>Your Cart products</h2>
    <button (click)="clearCart(); cartProducts=[]" class="btn btn-outline-danger" ><i class="fa-solid fa-broom"></i> Clear Cart</button>
</div>

  <div *ngFor="let product of cartProducts" class="row p-3 my-2 shadow-sm">
    <div class="col-md-1">
      <img class="w-100" [src]="product.product.imageCover" alt="" />
    </div>
    <div class="col-md-11">
      <div class="d-flex align-items-center justify-content-between">

      <div>
        <h3>{{ product.product.title }}</h3>

        <p class="text-main">{{ product.product.brand.name }}</p>
        <p>Price: {{ product.price| currency:'EGP' }}</p>
        <p>Rating: {{ product.product.ratingsAverage }}</p>
        <button (click)="deleteSpecificProduct(product.product.id)" class="btn text-danger  mx-1"><i class="fa-solid fa-trash"></i> Remove</button>
      </div>
      <div>
        <button (click)="updateProductCount(product.product.id,product.count + 1); product.count =product.count +1" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i></button>
        <span class="mx-2 fw-bold">{{ product.count }}</span>
        <button (click)="updateProductCount(product.product.id,product.count - 1); product.count =product.count -1" class="btn btn-outline-danger"><i class="fa-solid fa-minus"></i></button>
      </div>

      </div>
    </div>
  </div>


<button routerLink="/checkout/{{cartId}}" class="btn bg-main text-white px-3 ms-auto d-block mt-3">Checkout</button>
</div>
