<div class="container">
<h3> Register Now:</h3>
<hr>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <!-- Username -->
    <label for="" class="my-2">Username</label>
    <input type="text" placeholder="Name... " class="form-control mb-1" formControlName="name"/>
    <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="alert text-danger">
      <p *ngIf="registerForm.get('name')?.getError('required')">Username is required</p>
      <p *ngIf="registerForm.get('name')?.getError('maxlength')">MaxLenth is 20 Charachters </p>
    </div>

    <!-- Email -->
    <label for="" class="my-2">Email</label>
    <input type="email" placeholder="email..." class="form-control mb-1" formControlName="email" />
    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched " class="alert text-danger">
      <p *ngIf="registerForm.get('email')?.getError('required')">Email is required</p>
      <p *ngIf="registerForm.get('email')?.getError('email')">Enter valid Email</p>
    </div>

    <!-- password -->
    <label for="" class="my-2">Password</label>
    <input (keyup)="matchPassword()" type="password" placeholder="password..." class="form-control mb-1" formControlName="password"/>
    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="alert text-danger">
      <p *ngIf="registerForm.get('password')?.getError('required')">Password is Required</p>
      <p *ngIf="registerForm.get('password')?.getError('pattern')">Minimum eight characters, at least one letter, one number and one special character
      </p>
    </div>



    <!-- RePassword -->
    <label for="" class="my-2">Repassword</label>
    <input (focus)="matchPassword()" (keyup)="matchPassword()" type="password" placeholder="repassword..." class="form-control mb-1" formControlName="rePassword"/>
    <div *ngIf="!rePasswordIsValid && registerForm.get('rePassword')?.touched" class="alert text-danger">
      <p>password is not matched </p>
    </div>


    <!-- Phone -->
    <label for="" class="my-2">Phone Number</label>
    <input type="tel" placeholder="phone" class="form-control mb-1"formControlName="phone" />
    <div *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched" class="alert text-danger">
      <p *ngIf="registerForm.get('phone')?.getError('required')">Phone is Required</p>
      <p *ngIf="registerForm.get('phone')?.getError('pattern')">Please Enter Valid Egyption PhoneNumber</p>

    </div>

  <button [disabled]="registerForm.status == 'INVALID'" type="submit"  class="btn btn-success bg-main text-white ms-auto d-block ">Register</button>
  </form>
</div>
