<div  class="product p-3 overflow-hidden">
<div class="cursor-pointer" routerLink="/product/{{product.id}}">
  <img class="w-100" [src]="product.imageCover" >
  <h5 class="text-main">{{product.category.name}}</h5>
  <h3 class="fw-bolder">{{product.title| uppercase|seemore:2}}</h3>
  <p >{{product.description|seemore:5}}</p>
  <div class="d-flex align-items-center justify-content-between">
    <span class="text-muted fw-bold font-sm">{{product.price|currency:'EGP '}}</span>
    <div>
    <i class="fas fa-star rating-color"></i>
    <span class="text-muted fw-bold font-sm">{{product.ratingsAverage}}</span>
  </div>
  </div>
</div>

  <button (click)="addProductToCart(product.id)" class="btn bg-main text-white m-auto d-block "><i class="fa-solid fa-plus"></i> Add To Cart</button>
</div>
