

/* You can add global styles to this file, and also import other style files */



:root{
  --main-color:#0aad0a;
  --light-color:#f0f3f2;
  --shadow:rgba(145,158,171,.2);
  --rating-color: #ffc908;
}

.bg-main{
  background-color: var(--main-color) !important;
}

.text-main {
  color: var(--main-color)
}

.active{
  font-weight: 800;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: #211f1f;
}

i{
  cursor: pointer;
}

.rating-color{
  color: var(--rating-color)
}

.product:hover{
  box-shadow:var(--shadow);
  border: 1px solid var(--main-color)
}

.product .btn{
  transition: tansform .5s,opacity 1s;
  transform: translateY(100%);
  opacity: 0;
}
.product:hover .btn{

  opacity: 1;
  transform: translateY(0%);
}


.bg-main-light{
  background-color: var(--light-color);
}


.font-sm{
  font-size:14px;
}








