<div class="container">
  <form (ngSubmit)="order(checkoutForm)" [formGroup]="checkoutForm" class="w-75 m-auto p-5 ">
    <label for="details">Details</label>
    <input
      type="text"
      id="details"
      class="form-control mb-3"
      formControlName="details"
    />
    <label for="phone" class="">Phone</label>
    <input
      type="text"
      id="phone"
      class="form-control mb-3"
      formControlName="phone"
    />
    <label for="city">City</label>
    <input
      type="text"
      id="city"
      class="form-control mb-3"
      formControlName="city"
    />



<button type="submit" class="btn bg-main px-3 text-white">Checkout</button>


  </form>
</div>
